{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='Images/demo-logo.png')}}" alt="logo"></a>
              <div class="dropdown m-3" >
                <button class="btn  dropdown-toggle"  data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" >
                    <span class="text-light m-2">  </span>
                    <i class="fa fa-user-o" style="font-size:24px;color:white;"></i>
                 </button>
                <ul class="dropdown-menu m-2 g-1" >
                
                </ul>
              </div>  
            </div>
            </div>  
          </nav>
    </section>

<section id="banner">
<div class="container-fluid">
    <div class="row mt-3 mb-2 g-1">
        <div class="col-md-6  rounded p-3 mt-5" >
            <h2 class="text-center">Login</h2>
            <form method="Post" action="/login">
              {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>
                // Use SweetAlert to display the flash message
                Swal.fire({
                 title: "{{ message }}",
                 button:"Ok",
                   });
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
    
                <div class="row bg-light rounded p-2 text-dark">
                <label class="col-sm-2 mt-3">Email</label>
                <div class="col-sm-10 mt-3">
                    <input type="email" name="email" class="form-control" placeholder="enter your email Id" required autocomplete="off">
                </div>
                <label class="col-sm-2 mt-3">Password</label>
                <div class="col-sm-10 mt-3">
                    <input type="password" name="password" class="form-control " placeholder="enter your password" required autocomplete="off">
                </div>
                <div class="text-center mt-3 justify-content-between">
                    <button class="btn btn-success" type="submit">Login</button>
                    
                </div>
              </div>
           </form>
          <!-- <p>{{msg}}</p> -->
        </div>
        
        <div class="col-md-6">
            <img src="{{url_for('static', filename='Images/home2.png')}}" class="img-fluid" alt="img1">
        </div>
</div>
{% endblock %}
