{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='Images/demo-logo.png')}}" alt="logo"></a>
              <div class="dropdown m-3">
                <button class="btn  dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="text-light m-2">{{uname}}</span>
                    <i class="fa fa-user-o" style="font-size:24px;color:white"></i>
                 
                </button>
                <ul class="dropdown-menu">
                  
                  <li><a class="dropdown-item" href="#">{{email}}</a></li>
                  <li><a class="dropdown-item" href="#">Setting</a></li>
                  <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</a></li>
                  
                </ul>
              </div>  
            </div>
            </div>  
          </nav>
    </section>
    <section id="banner">   
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 mt-5">
                    <h2 class="text-center">change password</h2>
                    <form action="/change_password" method="Post">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <script>
                                    // Use SweetAlert to display the flash message
                                    Swal.fire({
                                    text: "{{message}}",
                                    });
                                </script>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                        <div class="row bg-light rounded p-2 text-dark m-4">
                            <label class="col-sm-2 mt-3">Email</label>
                            <div class="col-sm-10 mt-3">
                                <input type="email" placeholder="enter your email" name="email" class="form-control" required>
                            </div>
                            <div class="text-center mt-3 justify-content-between">
                                <button class="btn btn-success" type="submit">Submit</button>
                                <a href="{{ url_for('cancel') }}" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </form>
                   
                </div><!--col-md-6-->
                <div class="col-md-6"> <img src="{{url_for('static', filename='Images/home2.png')}}" alt="img1" class="img-fluid"></div><!--col-md-6-->
            </div><!--row-->
        </div>
    </section>
{% endblock %}